@media(min-width:740px) and (max-width:1023px){
    #content {
        padding: 60px 20px;
        
        max-width: 100%;
        margin-bottom: 50px;
    }    
    .button-search{
        margin-right: 20px;
    }
    .cotact-info{
        padding-left: 25px;
    }
    .contact-info{
        font-size: 18px;
        line-height: 1.4;
        padding-left:30px;
    }
}

@media(max-width:740px){
    #nav li {
        display: block;
        position: relative;
    }
    
    #header .button-search {
        display: none;
    }
    
    #header .mobile-menu-btn {
        color: #fff;
        /* display: inline-block; */
        float: right;
        line-height: 46px;
        font-size: 17px;
        padding: 0 20px;   
    }

    #header .mobile-menu-btn:hover {
        background-color: #f44336;
        cursor: pointer;
    }
    .open-menu{
        height:230px; 
    }
    #slider{
        min-height: 200px;
    }

    #content .team .member {
        display: block;
        width: 100%;
        /* margin-left: auto; */
        /* margin-right: auto; */
        margin-bottom: 60px;
    }
    #content{
        padding-left: 30px;
        padding-right: 30px;
        
    }
    .place-item {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        padding: 0px 7px;
    }
    .col-half{
        width: 100%;
    }
    .row{
        margin-left: 4px;
    }
    #contact-form{
        margin-top: 20px;
        margin-left: -20px;
    }
}